.event-container img{
    width: 100%;
}
.event-container {
    background-color:lightcyan;
    border-radius: 15px;
    padding: 10px;
}
.event-container:hover {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}
.home-wrapper {
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(https://www.incimages.com/uploaded_files/image/1920x1080/getty_504271344_205161.jpg);
    background-position: 50 50;
    background-size: cover;
    height: 100%;
    width: 100%;
}